*.egg
*.egg-info/
*.idea
*.log
*.manifest
*.mo
*.pot
*.project
*.py[cod]
*.pydev
*.so
*.spec
.cache
.coverage
.deps/
.DS_Store
.env
.env*
.env/
.installed.cfg
.Python
.tox/
__pycache__/
_reports
artifact/
build/
cache/*.cache
coverage.xml
develop-eggs/
dist/
docs/services.rst
docs/services/
downloads/
eggs/
env/
htmlcov/
ignore/
lib/
lib64/
node_modules/
nosetests.xml
parts/
sdist/
settings_override.py
var/
